.fitContent {
  width: fit-content;
}

.halfWidth {
  width: 50%;
}

.fullWidth {
  width: 100%;
}

.flexColumn {
  flex-direction: column;
}

.flexContainer {
  display: flex;
}

.centerContent {
  align-self: center;
  width: 33%
}
