$black: #000;
$white: #fff;
$gray: #dedede;
$scorpion: #6b6a6a;
$cod-gray: #111;
$mine-shaft: #222;
$blue: rgb(17, 0, 255);
$green: #088f0f;
$yellow: #ffd300;
$red: #ee1c25;
$background: #111111;
$link: #a5a5a5;
