@import "/src/styles/colors.scss";

.button {
  background-color: #fff;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding: calc(0.375em - 1px) 0.75em;
  text-align: center;
  align-items: center;
  border: 1px solid $gray;
  border-radius: 5px;
  font-size: 1rem;
  height: 2.25em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  outline: 0;

  &--wide {
    width: 100%;
  }

  &:disabled, &[disabled] {
    cursor: not-allowed;
    color: $link;

    &:hover {
      background-color: #fff;
    }
  }

  &:hover {
    background-color: $gray;
  }

  &:active {
    background-color: $link;
  }
}
